@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("back-ground.png");
   
  }
/*display{
//  -webkit-box-shadow: 3px 3px 10px 3px #000000;
-moz-box-shadow: 3px 3px 10px 3px #000000;
box-shadow: 3px 3px 10px 3px #000000;
}*/

#buttons{
  background: rgba(255,255,255,0.25);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.125);
}
